.hospitalbutton-collection {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 120px 0 40px 10vw;
}
@media screen and (max-width: 1140px) {
  .hospitalbutton-collection {
    width: 90%;
    margin: 120px 20px 40px 5vw;
  }
}
@media screen and (max-width: 960px) {
  .hospitalbutton-collection {
    width: 100%;
    margin: 120px 0 40px 0;
    flex-wrap: wrap;
  }
}
