input{
    width: 280px;
    font-size: 20px;
    padding: 10px;
    margin: 0px 0 20px 0;
    border-radius: 5px;
    outline: none;
    border: 2px solid rgb(161, 161, 161);
    font-family: poppins,sans-serif;
}
input::placeholder{
  color: rgb(179, 178, 178);
}
.guide-input{
    font-size: 15px;
    padding: 20px;
}