.hospital-button {
  font-size: 25px;
  padding: 20px 25px;
  background-color: #fe1f1a;
  border: none;
  color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px #f00a06;
  transition: all 250ms;
  width: 220px;
  outline: none;
}
.hospital-button:hover,
.hospital-button:active {
  background-color: #950705;
  box-shadow: 3px 3px #950705;
  transition: all 250ms;
}
@media screen and (max-width: 960px) {
  .hospital-button {
    margin: 20px;
    font-size: 16px;
    width: 130px;
    padding: 15px;
  }
}
