.plus{
    animation: blink 2s ease-in-out infinite alternate;
    -webkit-animation: blink 2s ease-in-out infinite alternate;
    -o-animation: blink 2s ease-in-out infinite alternate;
    -moz-animation: blink 2s ease-in-out infinite alternate;
}
@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-webkit-keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-moz-keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@-o-keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}