.main-button{
    background: #FE1F1A;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 5px;
    color: #fff;
    outline: none;
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 250ms;
}
.navbar-button{
    margin: 10px;
    font-size: 20px;
}

.card-button{
    width: 280px;
    font-size: 23px;
    position: absolute;
    bottom: 20px;
}
.main-button:hover{
    background: #9b0301;
    transition: all 250ms;
}
.hostcard-button{
    width: 50vw;
}
 @media screen and (max-width: 700px){
    .navbar-button{
        font-size: 17px;
    }
    .hostcard-button{
        width: 80vw;
    }
 }