.registration2-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.radio-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    padding: 0 0 20px 0;
}
textarea{
    resize: none;
    border-radius: 5px;
    outline: none;
    border: 2px solid rgb(161, 161, 161);
    padding: 10px;
    margin-bottom: 20px;
}
textarea::placeholder{
    color: rgb(34, 30, 30);
    font-family: poppins,sans-serif;
    position: relative;
    top: 40px;
    font-size: 16px;
}
.registration2-container button{
    background: #FE1F1A;
    font-size: 20px;
    padding: 15px 10px;
    border-radius: 5px;
    color: #fff;
    outline: none;
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 250ms;
    width: 250px;
}
.registration2-container button:hover{
    background: #9b0301;
    transition: all 250ms;
}
.registration2-container .bar{
    width: 15px;
    height: 350px;
    background: rgb(165, 165, 165);
    border-radius: 10px;
    position: absolute;
    top: 250px;
    left: 50%;
}
.registration2-container .bar .inner-bar{
    height: 40%;
    background: #FE1F1A;
    border-radius: 10px;
}
@media screen and (max-width:960px){
    .registration2-container{
        margin: 30px 0 0 10px;
        padding: 0 0 100px 0;
    }
    textarea{
        width: 254px;
        height: 100px;
    }
    .radio-buttons{
        padding: 0;
    }
    .registration2-container .bar{
        width: 250px;
        height: 5px;
        display: block;
        /* transform: rotate(270deg); */
        position: relative;
        top: -50px;
        left: -8px;
    }
    .registration2-container .bar .inner-bar{
        transition: width 1s;
        width: 40%;
        height: 5px;
    }
}